
@{ ViewBag.Title = "table"; }
@model List<Application.Model.applicationtable>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tables</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        DataTables Advanced Tables
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Address</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itme in Model)
                                    {


                        <tr class="odd gradeX">
                            <td>@itme.id</td>
                            <td>@itme.name</td>
                            <td>@itme.email</td>
                            <td>@itme.mobile</td>
                            <td>@itme.address</td>
                            <td>


                                <a href="@Url.Action("edit",new { itme.id })" class="btn btn-warning ">Edit</a>
                            </td>


                            <td>


                                <a href="@Url.Action("delete",new { itme.id })" class="btn btn-danger">Delete</a>
                            </td>

                        </tr>
}
                                </tbody>

                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

@*jQuery*@


<script src="~/Content/js/jquery.min.js"></script>
@*Bootstrap Core JavaScript*@

<script src="~/Content/js/bootstrap.min.js"></script>
@*Metis Menu Plugin JavaScript*@

<script src="~/Content/js/metisMenu.min.js"></script>
@*DataTables JavaScript*@

<script src="~/Content/js/dataTables/jquery.dataTables.min.js"></script>
<script src="~/Content/js/dataTables/dataTables.bootstrap.min.js"></script>

@*Custom Theme JavaScript*@

<script src="~/Content/js/startmin.js"></script>
@*Page-Level Demo Scripts - Tables - Use for reference*@
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });</script>
